:host {
  margin: 0.1em;
}

mat-card {
  margin: 0.5em;
}

mat-form-field {
  margin: 0.5em;
}

.order-row-field-container {
    text-align: left;
}

.order-row-main-item-column {
  width: 15%;
}

.order-row-main-item-desc-column {
  width: 15%;
}

.order-row-main-item-acc-column {
    width: 8%;
}

.order-row-main-item-qty-column {
    width: 8%;
}

.order-row-main-item-cost-column {
    width: 8%;
}

.order-row-main-item-markup-rate-column{
    width: 8%;
}

.order-row-main-item-markup-percentage-column{
    width: 8%;
}
.order-row-main-item-price-column {
    width: 8%;
}

.order-row-main-item-cost-amount-column {
  width: 8%;
}

.order-row-main-item-price-amount-column {
  width: 8%;
}