.site-header {
    width: 100%;
    height: 10%;
}

.header-expand-menu {
    float: left;
    width: 5%;
}

.header-main-logo {
    float: left;
    width: 30%;
}

.header-right-span {    
    float: right;
}

.hader-right-icons {
    width: 10%;
}

.header-logged-as {
    width: 10%;
    margin-left: 20px;
}