

.order-main-required-fields {
    border: 1px solid #eee;
    padding-top: 1em;
}

.order-header-inline-field {
    margin:10px;
}

.order-optional-header-fields {
    border: 1px solid #eee;
}

.mat-form-field {
    margin-right: 4px;
}

  