mat-form-field {
    margin: 0.2em;
}

.sub-order-row-type-column{
    width: 10%;
}

.sub-order-row-item-column {
    width: 12%;
  }
  
  .sub-order-row-item-desc-column {
    width: 12%;
  }
  
  .sub-order-row-item-acc-column {
      width: 7%;
  }
  
  .sub-order-row-item-qty-column {
      width: 7%;
  }
  
  .sub-order-row-item-cost-column {
      width: 8%;
  }
  
  .sub-order-row-item-markup-rate-column{
      width: 8%;
  }
  
  .sub-order-row-item-markup-percentage-column{
      width: 8%;
  }
  .sub-order-row-item-price-column {
      width: 8%;
  }
  
  .sub-order-row-item-cost-amount-column {
    width: 8%;
  }
  
  .sub-order-row-main-price-amount-column {
    width: 8%;
  }